<form [ngFormModel]="form" role="form" (submit)="login($event, username.value, password.value)">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Login
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label" for="username">Username</label>
                        <input class="form-control" type="text" id="username" ngControl="username" #username="ngForm" placeholder="Username">
                    </div>
                    <div *ngIf="username.touched && username.errors">

                        <div *ngIf="username.errors.underscorenotfound && !username.errors.required" class="alert alert-danger">
                            <strong>Username should have an underscore</strong>
                        </div>

                        <div *ngIf="username.errors.required" class="alert alert-danger">
                            <strong>Username is required</strong>
                        </div>
                        <div *ngIf="username.errors.usernotunique && !username.errors.required" class="alert alert-danger">
                            <strong>Username is already present</strong>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">Password</label>
                        <input class="form-control" type="password" id="password" ngControl="password" #password="ngForm" placeholder="Password" required>
                    </div>
                    
                    <button type="submit" class="btn btn-default">Submit</button>
                    <a [routerLink]="['/signup']">Click here to Signup</a>
                    
                </div>
            </div>
</form>