<form [ngFormModel]="form" role="form" (submit)="signup($event, email.value, password.value)">
          <div class="panel panel-primary">
                <div class="panel-heading">
                    Signup
                </div>
                <div class="panel-body">
                  <div class="form-group">
                        <label class="control-label" for="username">Username</label>
                        <input class="form-control" type="text" id="username" ngControl="username" #username="ngForm" placeholder="Username">
                    </div>
                    <div *ngIf="username.touched && username.errors">
                        <div *ngIf="username.errors.underscorenotfound && !username.errors.required" class="alert alert-danger">
                            <strong>Username should have an underscore</strong>
                        </div>
                        <div *ngIf="username.errors.required" class="alert alert-danger">
                            <strong>Username is required</strong>
                        </div>
                        <div *ngIf="username.errors.usernotunique && !username.errors.required" class="alert alert-danger">
                            <strong>Username is already present</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">Password</label>
                        <input class="form-control" type="password" id="password" ngControl="password" #password="ngForm">
                    </div>
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" #name class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <label for="surname">Surname</label>
                      <input type="text" #surname class="form-control" id="surname" placeholder="Surname">
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="text" #email class="form-control" id="email" placeholder="Email" required>
                    </div>
                    <!--<div class="form-group">
                      <label for="date">Date of the birthday</label>
                      <input type="date" #date class="form-control" id="date" placeholder="Date">
                    </div>-->
                    
                     <button type="submit" class="btn btn-default">Submit</button>
                    <button (click)="getUsers()">Get users</button>
                    {{auth}}
                    <button (click)="postUsers($event, email.value, password.value)">Post users</button>
                    <button (click)="getUsersService()">Get  with service</button>
                    <button (click)="getUsersServiceID('57a83bdd9d4ccf7022ffbcf9')">Get  with service id</button>
                    <!--<button (click)="postUsersService($event, email.value, password.value)">Post users service</button>-->
                  </div>
  </div>
</form>

